/* GENERAL */
#wrapper {
  width: 1024px;
}
body {
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-size: 0.8em;
  font-weight: 500;
}
h2 {
  padding-left: 10px;
}
h3 {
  font-weight: bold;
  font-size: 1.1em;
}
h4 {
  color: grey;
}
h5 {
  font-size: 1em;
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
}
h6 {
  display: none;
}
p {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
i,
span {
  color: #0065fc;
}
/* HEADER */
header img {
  width: 20%;
  padding-top: 20px;
}
nav h2 {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-decoration: none;
  align-items: flex-end;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
nav li a {
  padding: 20px 10px 0 10px;
}
nav li a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 20px;
  position: static;
  color: #0065fc;
}

/* PRESENTATION
1) Bouton de recherche */
#presentation {
  width: 100%;
  padding-bottom: 20px;
}
.bouton form {
  width: 100%;
  display: flex;
  align-items: center;
}
.bouton i {
  width: 20px;
  height: 45px;
  background-color: #f2f2f2;
  color: black;
  border-radius: 20px 0 0 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.bouton button {
  background: #0065fc;
  color: white;
  border-radius: 0 10px 10px 0;
  border: 1px solid #0065fc;
  height: 40px;
  width: fit-content;
  padding: 0 20px 0 20px;
}
.recherche {
  height: 40px;
  border: 1px solid #f2f2f2;
}
#query-portable {
  display: none;
}

/* 2) Filtres */
#filtres p,
button {
  font-weight: bold;
}
#filtres {
  width: 100%;
  padding-top: 20px;
  display: flex;
}
.bouton-filtre {
  width: auto;
  height: 40px;
  display: flex;
  margin: 5px;
}
.bouton-filtre button {
  /* c'est la partie de droite des boutons avec le texte */
  z-index: 1;
  border-radius: 20px;
  border: 2px solid lightgray;
  margin-left: 0;
  height: 40px;
  text-align: center;
  background-color: white;
  padding-left: 40px;
}
.bouton-filtre button:hover {
  background-color: #deebff;
}
.cercle {
  /* c'est le rond avec le pictogramme */
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #deebff;
  display: flex;
  align-items: center;
}
.cercle i {
  margin-left: 13px;
}

/* 3) Infos */
#info {
  display: flex;
}
#info h4 {
  margin-top: 20px;
}

.rond i {
  margin-top: 20px;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  color: #0065fc;
}

/* HEBERGEMENT */

#hebergement {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

/* 1) SECTION GAUCHE */
article {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 650px;
  margin-right: 20px;
  padding-right: 10px;
}
.post {
  background-color: white;
  padding: 5px;
  border: 3px solid #f2f2f2;
  width: 200px;
  border-radius: 20px;
  margin: 10px;
  height: min-content;
  box-shadow: 1px 10px 5px -10px grey;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.post:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.post img {
  width: 200px;
  height: 120px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
.plus {
  margin-left: 20px;
  font-size: 1.3em;
  margin-top: 10px;
}

/* 2) SECTION DROITE */
.titre-special {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.titre-special i {
  color: black;
}
aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  height: 650px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 10px;
  align-items: flex-start;
}
.postpop {
  display: flex;
  justify-content: left;
  height: min-content;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  width: 250px;
  box-shadow: 1px 10px 5px -10px grey;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.postpop:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.postpop img {
  width: 100px;
  height: 130px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
.description {
  padding-left: 10px;
  width: auto;
}
/* ACTIVITES */

.galerie {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  padding-bottom: 40px;
}
.paysage img {
  width: 240px;
  height: 345px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  margin-top: 10px;
}
.portrait img {
  width: 240px;
  height: 135px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  margin-top: 10px;
}
.paysage,
.portrait {
  margin-right: 20px;
  border-bottom: 3px solid #f2f2f2;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 10px 5px -10px grey;
}
.shadow-box {
  border-bottom: 3px solid #f2f2f2;
  box-shadow: 1px 10px 5px -10px grey;
  border-radius: 0 0 20px 20px;
}

/* FOOTER */
footer {
  width: 100%;
  height: 150px;
  display: flex;
  background-color: #f2f2f2;
  padding: 10px 0 10px 0;
}
.box1,
.box2,
.box3 {
  width: 30%;
}

/* MEDIA QUERIES 
1) Tablettes */
@media only screen and (max-width: 768px) and (min-width: 375px) {
  body {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }
  nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  nav li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 10px;
    position: static;
    color: #0065fc;
  }
  #presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bouton {
    margin-top: 20px;
  }
  .bouton-filtre button {
    margin-left: 0;
    padding-left: 35px;
  }
  #filtres {
    flex-direction: column;
    align-items: center;
  }
  .bouton-filtre {
    width: 170px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
  }
  #hebergement {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  article {
    width: 100%;
    height: auto;
    align-items: center;
    margin-right: 0;
  }
  .post {
    width: 400px;
    border-radius: 20px;
    margin: 10px;
  }
  .post img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  .ligne {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  aside {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    align-items: center;
  }
  .postpop {
    justify-content: left;
    height: auto;
    width: 400px;
  }
  .postpop img {
    width: auto;
    height: 130px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }
  .galerie {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: row;
  }
  .titre,
  .titre-special {
    text-align: center;
    display: inline;
  }
  footer {
    justify-content: space-around;
  }
}

/* 2) Smartphones */
@media only screen and (max-width: 375px) {
  #wrapper {
    width: 100%;
    margin-left: 10px;
  }
  header img {
    width: 20%;
    padding-top: 20px;
  }
  nav h2 {
    display: flex;
    color: #0065fc;
    font-size: 0.8em;
  }
  .entete-mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .signin {
    display: none;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav li a {
    padding: 20px 10px 0 10px;
    justify-content: space-between;
  }
  nav li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 10px;
    position: static;
    color: #0065fc;
  }
  .bouton-filtre button {
    padding-left: 20;
    margin-left: 0;
  }
  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #ecrans-grande-taille {
    display: none;
  }
  #query-portable {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
  }
  #filtres {
    flex-direction: column;
    align-items: flex-start;
  }
  #hebergement {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }
  article {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    height: auto;
    margin-right: 20px;
    padding-right: 10px;
  }
  .post {
    background-color: white;
    padding: 5px;
    border: 3px solid #f2f2f2;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    height: min-content;
  }
  .post img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  .ligne {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 10px;
    align-items: center;
  }
  .postpop {
    display: flex;
    justify-content: left;
    height: min-content;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    width: auto;
  }
  .postpop img {
    width: 100px;
    height: 130px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }
  .description {
    max-width: 160px;
  }
  #activites {
    margin-top: 50px;
  }
  .galerie {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: row;
  }
  .paysage img {
    width: 100%;
    height: 120px;
  }
  .portrait img {
    width: 100%;
    height: 120px;
  }
  footer {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 10px;
  }
  .box1,
  .box2,
  .box3 {
    width: 100%;
  }
}

/* 3) Iphone X */
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  #wrapper {
    width: 100%;
    margin-left: 10px;
  }
  header img {
    width: 20%;
    padding-top: 20px;
  }
  nav h2 {
    display: flex;
    color: #0065fc;
    font-size: 0.8em;
  }
  .entete-mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .signin {
    display: none;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav li a {
    padding: 20px 10px 0 10px;
  }
  nav li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 10px;
    position: static;
    color: #0065fc;
  }
  .bouton-filtre button {
    padding-left: 20;
    margin-left: 0;
  }
  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #ecrans-grande-taille {
    display: none;
  }
  #query-portable {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
  }
  #filtres {
    flex-direction: column;
    align-items: flex-start;
  }
  #hebergement {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }
  article {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    height: auto;
    margin-right: 20px;
    padding-right: 10px;
  }
  .post {
    background-color: white;
    padding: 5px;
    border: 3px solid #f2f2f2;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    height: min-content;
  }
  .post img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  .ligne {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 10px;
    align-items: center;
  }
  .postpop {
    display: flex;
    justify-content: left;
    height: min-content;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    width: 350px;
  }
  .postpop img {
    width: 100px;
    height: 130px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }
  .description {
    max-width: 160px;
  }
  #activites {
    margin-top: 50px;
  }
  .galerie {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: row;
  }
  .paysage img {
    width: 100%;
    height: 120px;
  }
  .portrait img {
    width: 100%;
    height: 120px;
  }
  footer {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 10px;
  }
  .box1,
  .box2,
  .box3 {
    width: 100%;
  }
}

/* 4) iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  #wrapper {
    width: 100%;
    margin-left: 10px;
  }
  header img {
    width: 20%;
    padding-top: 20px;
  }
  nav h2 {
    display: flex;
    color: #0065fc;
    font-size: 0.8em;
  }
  .entete-mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .signin {
    display: none;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav li a {
    padding: 20px 10px 0 10px;
  }
  nav li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 10px;
    position: static;
    color: #0065fc;
  }
  .bouton-filtre button {
    padding-left: 20;
    margin-left: 0;
  }
  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #ecrans-grande-taille {
    display: none;
  }
  #query-portable {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
  }
  #filtres {
    flex-direction: column;
    align-items: flex-start;
  }
  #hebergement {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }
  article {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    height: auto;
    margin-right: 20px;
    padding-right: 10px;
  }
  .post {
    background-color: white;
    padding: 5px;
    border: 3px solid #f2f2f2;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    height: min-content;
  }
  .post img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  .ligne {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 10px;
    align-items: center;
  }
  .postpop {
    display: flex;
    justify-content: left;
    height: min-content;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    width: 350px;
  }
  .postpop img {
    width: 100px;
    height: 130px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }
  .description {
    max-width: 160px;
  }
  #activites {
    margin-top: 50px;
  }
  .galerie {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: row;
  }
  .paysage img {
    width: 100%;
    height: 120px;
  }
  .portrait img {
    width: 100%;
    height: 120px;
  }
  footer {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 10px;
  }
  .box1,
  .box2,
  .box3 {
    width: 100%;
  }
}

/* 5) /*iPhone6/7/8*/
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  #wrapper {
    width: 100%;
    margin-left: 10px;
  }
  header img {
    width: 20%;
    padding-top: 20px;
  }
  nav h2 {
    display: flex;
    color: #0065fc;
    font-size: 0.8em;
  }
  .entete-mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .signin {
    display: none;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav li a {
    padding: 20px 10px 0 10px;
  }
  nav li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 10px;
    position: static;
    color: #0065fc;
  }
  .bouton-filtre button {
    padding-left: 20;
    margin-left: 0;
  }
  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #ecrans-grande-taille {
    display: none;
  }
  #query-portable {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
  }
  #filtres {
    flex-direction: column;
    align-items: flex-start;
  }
  #hebergement {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }
  article {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    height: auto;
    margin-right: 20px;
    padding-right: 10px;
  }
  .post {
    background-color: white;
    padding: 5px;
    border: 3px solid #f2f2f2;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    height: min-content;
  }
  .post img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  .ligne {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 10px;
    align-items: center;
  }
  .postpop {
    display: flex;
    justify-content: left;
    height: min-content;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    width: 350px;
  }
  .postpop img {
    width: 100px;
    height: 130px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }
  .description {
    max-width: 160px;
  }
  #activites {
    margin-top: 50px;
  }
  .galerie {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: row;
  }
  .paysage img {
    width: 100%;
    height: 120px;
  }
  .portrait img {
    width: 100%;
    height: 120px;
  }
  footer {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 10px;
  }
  .box1,
  .box2,
  .box3 {
    width: 100%;
  }
}
