/* GENERAL */
body {
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-size: 0.8em;
  font-weight: 500;
}
button {
  height: 50px;
  border-radius: 20px;
  border: 3px solid #f2f2f2;
  background-color: white;
}
h2 {
  padding-left: 10px;
}
h4 {
  color: grey;
}
h5 {
  font-size: 1em;
  text-align: center;
}

/* HEADER */
header img {
  width: 15%;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-decoration: none;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
nav li a {
  padding: 20px 10px 0 10px;
  text-decoration-line: none;
}
nav li:hover {
  text-decoration: overline;
}

/* Presentation */
#presentation input {
  height: 40px;
  border-radius: 10px;
  border: 1px white;
}

/* HEBERGEMENT */
#hebergement {
  display: flex;
  align-items: flex-start;
}
article {
  display: flex;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-right: 20px;
}
.post {
  background-color: white;
  padding: 10px;
  border: 3px grey;
  width: auto;
  border-radius: 10px;
  margin: 10px;
}
.post img {
  width: 150px;
  height: 75px;
  border-radius: 20px 20px 0 0;
}
.ligne {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px;
}
aside {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: 10px;
}
.postpop {
  display: flex;
  height: 110px;
  padding: 10px;
  background-color: white;
  border: 3px grey;
  margin: 10px;
  border-radius: 10px;
}
.postpop img {
  width: 80px;
  height: 80px;
  border-radius: 20px 0 0 20px;
}
.description {
  display: flex;
  flex-direction: column;
}

/* ACTIVITES */

.table {
  display: flex;
  flex-direction: row;
}
.table img {
  height: 200px;
  width: auto;
  border-radius: 20px 20px 0 0;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
}
